.content-body {
	display: flex;
	flex-wrap: wrap;
}

.trash-create {
    text-align: left;
    color: deeppink;
}

.file-element {
	flex: 0 0 30%;
	margin: 4px;
	padding: 4px;
    font-size: 18px;
    color: #afafaf;
}

.page-header {
        margin-top: 0;
        padding: 0px;
    }

body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.centered {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    z-index: 0;
}

.header-subsidiary {
    width: 100%;
    height: 100px;
    background-image: url(../img/background.jpg);
    position: fixed;
    z-index: 9999;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #ffffff;
        font-size: 36pt;
        padding: 10px;
        overflow: hidden;
    }

.page-header h2, .page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active {
        color: #ffffff;
        font-size: 30pt;
        padding: 10px;
        overflow: hidden;
    }

div .one-string{
	display: inline-block;
    font-size: 55px;
    padding: 10px;
}

.link-page {
    color: deeppink;
}

a:hover {
    color: coral;
}

a:active {
    color: red;
}

.top-menu, .top-menu:hover, .top-menu:visited {
        color: white;
        float: right;
        font-size: 26pt;
        margin: 10px;
   }

h1 .head-text {
    font-size: 21px;
}

.link-dir {
        color: white;
}

.task-info {
    font-size: 19px;
    color: white;
    margin-right: 10px
}

ul {
    list-style: none;
    display: block;
    margin:0px;
    padding:0px;
    font-size: 55px;
    z-index: 9999;
}

ul:after {
    display: block;
    float: none;
    content: ' ';
    clear: both;
}

ul.mmenuu > li {
    float: left;
    position: relative;
}

ul.mmenuu > li > a {
    display: block;
    color: #fff;
    padding: 10px;
    color: deeppink;
}

ul.mmenuu > li > a:hover {
    color: coral;
}

ul.ssubmenuu {
    position: absolute;
    width: auto;
    top: 75px;
    left:0px;
    font-size: 30px;
    display: none;
}

ul.ssubmenuu > li {
    display: block;
}

ul.ssubmenuu > li > a {
    display: block;
    text-decoration: none;
    padding: 10px;
}

ul.ssubmenuu > li > a:hover {
    text-decoration: underline;
    color: coral;
}

ul.mmenuu > li:hover > ul.ssubmenuu {
    display: block;
}

button.trash-action {
    color: deeppink;    
}
