{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    {% block head %}
    {% endblock %}
</head>
<body>
    {% include "menu.html" %}


        <div style="padding-top-top: 100px">
            {% block content %}{% endblock %}
        </div>
        {% block js %}
        {% endblock %}
</body>
</html> 