{% extends "base.html" %}
{% load static %}
{% block content %}
    <form method="POST">

        {% csrf_token %}


        <div class="container">

             <div class="btn-group trash-create">
                {{ task_form.as_table }}
                <button name="remove" type="submit" class="save btn btn-default">remove</button>
             </div>
            <br></br>
            <div class="btn-group trash-create">
                {% for dir in dirs %}
                    <a href="{% url "view_files" %}?path={{ dir.abspath}}" class="link-dir" style="font-size: 21px;">
                        {{ dir.name }}
                    </a>
                    <span style="font-size: 21px; color: white;"> > </span>
                {% endfor %}
            </div>
            <div class="row">
            {% for file in list_dir %}
                <div class="file-element">
                    {% if file.type == "dir" %}
                        <label><input type="checkbox" name="selected-file" value="{{ file.abspath }}"></label>
                        <span class="glyphicon glyphicon-folder-open" style="color: brown"></span>
                        <a href="{% url "view_files" %}?path={{ file.abspath}}" class="link-dir">
                            {{ file.name }}
                        </a>
                    {% elif file.type == "file" %}
                        <label><input type="checkbox" name="selected-file" value="{{ file.abspath }}"></label>
                        <span class="glyphicon glyphicon-file" style="color: salmon"></span>
                        {{ file.name }}
                    {% elif file.type == "no access dir" %}
                        <label><input type="checkbox" disabled></label>
                        <span class="glyphicon glyphicon-folder-close" style="color: brown"></span>
                        {{ file.name }}
                    {% elif file.type == "no access file" %}
                        <label><input type="checkbox" disabled></label>
                        <span class="glyphicon glyphicon-file" style="color: salmon"></span>
                        {{ file.name }}
                    {% elif file.type == "pardir" %}
                        <label><input type="checkbox" disabled></label>
                        <span class="glyphicon glyphicon-folder-open" style="color: brown"></span>
                         <a href="{% url "view_files" %}?path={{ file.abspath}}" class="link-dir">
                            {{ file.name }}
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
    </form>

{% endblock %}
