<div class="page-header centered">
    <div class="header-subsidiary">
        <ul class="mmenuu">
            <li><a href=# style="color: deeppink">smart</a>
                <ul class="ssubmenuu">
                    <li><a href="{% url "trash_list" %}" class="link-page">trash list</a> </li>
                    <li><a href="{% url "trash_create" %}" class="link-page">add trash</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url "view_files" %}" class="link-page"> delete </a>
            </li>
            <li>
                <a href="{% url "tasks_list" %}" class="link-page"> tasks </a>
            </li>
        </ul>
    </div>
</div>
