{% extends "base.html" %}

{% block content %}
    <div class="container">
    <form method="POST">
        {% csrf_token %}
        {% if tasks %}
            <button name="clean" type="submit" class="save btn btn-default">clean</button>
        {% else %}
            <h1 style="font-size: 42px; color: deeppink">is empty</h1>
        {% endif %}
    </form>
    {% for task in tasks %}
        <p>
            <h1 style="font-size: 27px; color: deeppink">trash: {{ task.trash.name }}</h1>
            <div class="btn-group form-inline" style="width: 80%">
                <span class="task-info col-md-3" style="color: black;">action: {{ task.action }}</span>
                <span class="task-info col-md-3" style="color: black;">status: {{ task.status }}</span>
                <span class="task-info col-md-3" style="color: black;">dry-run: {{ task.dryrun }}</span>
            </div>

            <div style="font-size: 19px; color: white">
                <span class="task-info" style="font-size: 23px">files:</span>
                {% for f in task.get_files %}
                    <div class="task-info" style="margin-left: 5%">{{ f }}</div>
                {% endfor %}
                {% if task.error_descr %}
                    <span class="task-info" style="font-size: 23px">error:</span>
                    <div class="task-info" style="margin-left: 5%">{{ task.error_descr }}</div>
                {% endif %}
            </div>
        </p>
    {% endfor %}
    </div>
{% endblock %}
