{% extends "base.html" %}

{% block content %}
    <div class="container">
    {% if trashes %}
        {% for trash in trashes %}
            <p>
                <h1><a href="{% url "trash_detail" trash.pk %}" class="link-page"> {{ trash.name }} </a></h1>
                <div style="font-size: 19px; color: white">path: {{ trash.trash_path }}</div>
            </p>
        {% endfor %}
    {% else %}
        <h1 style="font-size: 42px; color: deeppink">is empty</h1>
    {% endif %}
    </div>
{% endblock %}
