{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="trash-create">create trash:</h1>
        <div class="trash-create">
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">save</button>
            </form>
        </div>
    </div>
{% endblock %}
