{% extends "base.html" %}

{% block content %}
    <div class="container">
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="trash-create" style="font-size: 19px">
            <h1>{{ tr.name }}</h1>
            <button name="delete" type="submit" class="save btn btn-default">delete</button>
                <div>size: {{ current_size }} / {{ trash.trash_size }} byte</div>
                <div>path: {{ trash.trash_path }}</div>
                <div>remove policy: {{ trash.remove_policy }}</div>
                <div>restore policy: {{ trash.restore_policy }}</div>
                <div>clean policy: {{ trash.clean_policy }}</div>
        </div>
            <div style="color: white; font-size: 19px">trash content:</div>
            {% if files %}
                {% for file in files %}
                    <div class="file-element">
                            {% if file.type == "dir" %}
                                <label><input type="checkbox" name="selected-file" value="{{ file.abspath }}"></label>
                                <span class="glyphicon glyphicon-folder-close" style="color: brown"></span>
                                {{ file.name }}
                            {% else %}
                                <label><input type="checkbox" name="selected-file" value="{{ file.abspath }}"></label>
                                <span class="glyphicon glyphicon-file" style="color: salmon"></span>
                                {{ file.name }}
                            {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <h1 style="font-size: 19px; color: white">is empty</h1>
            {% endif %}
        <button name="restore" type="submit" class="trash-action">restore</button>
        <button name="trash delete" type="submit" class="trash-action">delete</button>
        <button name="clean" type="submit" class="trash-action">clean</button>
        <label class="trash-create" style="font-size: 19px">dry-run:<input type="checkbox" name="dryrun" value="{{ True }}"></label>

    </form>
    </div>
{% endblock %}